$tan: rgb(236, 222, 202);
$light-gray: rgb(196, 196, 196);
$gray: rgb(155, 155, 155);
$dark-gray: rgb(80, 80, 80);
$black: rgb(20, 20, 20);

:root {
	color-scheme: light dark;
}

.theme-toggle {
	position: fixed;
	float: right;
	top: 20px;
	right: 30px;
	width: 35px;
	background: none;
	border: none;
	cursor: pointer;
}

body.dark .theme-toggle svg {
	fill: $light-gray;
}

body.light .theme-toggle svg {
	fill: $black;
}

.settings {
	margin-top: 40px;
	display: inline-block;
	text-align: left;
	padding: 15px;
	border-radius: 4px;
	font-size: 20px;

	h4 {
		margin-top: 0px;
		margin-bottom: 15px;
		text-align: center;
	}

	.setting {

		select {
			margin-top: 5px;
			margin-left: 10px;
			border-radius: 4px;
			border: none;
			font-size: 18px;
			cursor: pointer;
		}

	}
}

body.light .settings {
	background-color: $gray;

	.setting {

		select {
			color: $black;
			background-color: $light-gray;
		}
	}
}

body.dark .settings {
	background-color: $dark-gray;

	.setting {

		select {
			color: $light-gray;
			background-color: $black;
		}
	}
}

.buttons {
	margin-top: 20px;
	width: 100%;
	
	.button-item {
		display: inline-block;
		background-color: $gray;
		padding: 8px;
		margin-left: 10px;
		margin-right: 10px;
		border-radius: 4px;
		font-size: 20px;

		.disabled {
			cursor: default;
		}
		
		input {
			border: none;
			background: none;
			font-size: 20px;
			padding: 0px;
			cursor: pointer;
		}

		a {
			text-decoration: none;
			color: $black;
		}
	}
}

body .buttons .button-item {

	input {
		color: $black;
	}

	a {
		color: $black;
	}
}

.info {
	height: 20px;
}

.game-board {
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	
	.cell {
	
		svg {
			position: absolute;
			width: 35px;
			height: 35px;
			transform: translate(-17px, 5px);
		}
	}

	.cell:not(.cleared):hover {
		cursor: pointer;
	}
}

body.light .game-board {
	background-color: $gray;
	border: 4px solid $black;

	.cleared {
		background-color: $light-gray;
	}

	.cell {
		border: 2px solid $black;
	}

	.cell.flagged svg {
		fill: rgb(54, 54, 54);
	}
	.cell.mine svg {
		fill: rgb(0, 0, 0);
	}
	.cell.num-1 svg {
		fill: rgb(34, 60, 116);
	}
	.cell.num-2 svg {
		fill: rgb(36, 126, 55);
	}
	.cell.num-3 svg {
		fill: rgb(124, 62, 51);
	}
	.cell.num-4 svg {
		fill: rgb(51, 36, 117);
	}
	.cell.num-5 svg {
		fill: rgb(92, 28, 28);
	}
	.cell.num-6 svg {
		fill: rgb(44, 79, 94);
	}
	.cell.num-7 svg {
		fill: rgb(88, 21, 97);
	}
	.cell.num-8 svg {
		fill: rgb(66, 66, 66);
	}	
}

body.dark .game-board {
	background-color: rgb(69, 77, 104);
	border: 4px solid $gray;
	
	.cleared {
		background-color: rgb(15, 16, 22);
	}

	.cell {
		border: 2px solid $gray;
	}

	.cell.flagged svg {
		fill: rgb(16, 18, 20);
	}
	.cell.mine svg {
		fill: rgb(177, 77, 77);
	}
	.cell.num-1 svg {
		fill: rgb(159, 194, 202);
	}
	.cell.num-2 svg {
		fill: rgb(143, 177, 142);
	}
	.cell.num-3 svg {
		fill: rgb(163, 109, 92);
	}
	.cell.num-4 svg {
		fill: rgb(149, 135, 204);
	}
	.cell.num-5 svg {
		fill: rgb(194, 160, 166);
	}
	.cell.num-6 svg {
		fill: rgb(185, 216, 211);
	}
	.cell.num-7 svg {
		fill: rgb(222, 179, 241);
	}
	.cell.num-8 svg {
		fill: rgb(199, 199, 199);
	}	
}

.game-board.large {
	height: 600px;
	width: 900px;
}

.game-board.medium {
	height: 500px;
	width: 750px;
}

.game-board.small {
	height: 400px;
	width: 600px;
}