$gray: rgb(167, 167, 167);
$light-gray: rgb(221, 221, 221);

body {
	font-family: sans-serif;
	text-align: center;
}

.buttons {
	width: 100%;
	
	.button-item {
		display: inline-block;
		background-color: $gray;
		padding: 5px;
		border-radius: 4px;
		
		a {
			font-size: 20px;
			text-decoration: none;
			color: black;
		}
	}
}

.game-board {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	height: 30vw;
	width: 70vw;
	background-color: $gray;
	border: .3vw solid black;
	display: grid;

	.cell {
		border: .15vw solid black;
	
		svg {
			position: absolute;
			width: 3vw;
			height: 3vw;
			transform: translate(-1.5vw, 0.2vw);
		}
	}
	
	.dug {
		background-color: $light-gray;
	}
}