$gray: rgb(167, 167, 167);
$light-gray: rgb(221, 221, 221);
$tan: rgb(245, 218, 185);

body {
	font-family: 'Trebuchet MS', Arial, sans-serif;
	text-align: center;
	background-color: $tan;
}

.buttons {
	width: 100%;
	
	.button-item {
		display: inline-block;
		background-color: $gray;
		padding: 5px;
		border-radius: 4px;
		
		a {
			font-size: 20px;
			text-decoration: none;
			color: black;
		}
	}
}

.score {
	height: 20px;
}

.game-board {
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	height: 40vw;
	width: 60vw;
	background-color: $gray;
	border: .3vw solid black;
	display: grid;

	.cell {
		border: .15vw solid black;
	
		svg {
			position: absolute;
			width: 2.8vw;
			height: 2.8vw;
			transform: translate(-1.4vw, 0.1vw);
		}
	}
	
	.dug {
		background-color: $light-gray;
	}

	.cell:not(.dug):hover {
		cursor: pointer;
	}
}